body {
  font-family: Arial, sans-serif;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.gallery_item {
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery_img {
  width: 100%;
}



.gallery_title {
  color: white;
  font-size: 20px;
  text-align: center;
}

#img{
  display: flex;
}

.img_r{
  width: 45%;
}