<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Page</title>
    <link rel = "stylesheet" href="/css/events.css">
    <link rel = "stylesheet" href = "/css/style.css">
    <link rel = "stylesheet" href = "/css/footer.css"></link>
</head>
<body>

  <ul>
    <li><a href = "home.html">Home</a></li>
    <li><a href = "home.html#about-us">About Us</a></li>
    <li><a href = "events.html">Events</a></li>
</ul>

    <div id="gallery">
        <a href="poster2.html" class="gallery_item">
          <img src="/images/poster 2.jpg" alt="event 1" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster3.html" class="gallery_item">
          <img src="/images/poster 3.jpg" alt="event 2" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster4.html" class="gallery_item">
          <img src="/images/poster 4.jpg" alt="event 3" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster5.html" class="gallery_item">
          <img src="/images/poster 5.jpg" alt="event 4" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
      </div>



      <div id="gallery">
        <a href="poster6.html" class="gallery_item">
          <img src="/images/poster 6.jpg" alt="event 5" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster7.html" class="gallery_item">
          <img src="/images/poster 7.jpg" alt="event 6" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster8.html" class="gallery_item">
          <img src="/images/poster 8.jpg" alt="event 7" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster9.html" class="gallery_item">
          <img src="/images/poster 9.jpg" alt="event 8" class="gallery_img"
          height="350">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
      </div>

      <div id="gallery">
        <a href="poster1.html" class="gallery_item">
          <img src="/images/poster 1.jpg" alt="event 9" class="gallery_img"
          height="800" width="50">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
        
        <a href="poster10.html" class="gallery_item">
          <img src="/images/poster 10.jpg" alt="event 10" class="gallery_img">
          <div class="gallery_overlay">
            <div class="gallery_title"></div>
          </div>
        </a>
      </div>

      <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="home.html#about-us">Abouts Us</a></li>
              <li><a href="events.html">Events</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Website Team</h3>
            <ul>
              <li>Garv Bhargava</li>
              <li>Puja Baldawa</li>
              <li>Mustafa Khan</li>
              <li>Ashraf</li>
              <li>Adiya Bhakru</li>
              <li>Mridul Sharma</li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Resource Team</h3>
            <ul>
              <li>Hardik Karwal</li>
              <li >Hari OM</li>
              <li>Milind</li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Poster Team</h3>
            <ul>
              <li>Yash Pratap</li>
              <li>Ria</li>
              <li>Karthik</li>
              <li>Jay</li>
              <li>Moksh Ajmera</li>
              <li>Kshitij</li>
              <li>Kivika</li>
            </ul>
          </div>
        </div>
      </footer>

</body>
</html>