<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="test.css">
</head>
<body>
  <footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="home.html#about-us">Abouts Us</a></li>
          <li><a href="events.html">Events</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Website Team</h3>
        <ul>
          <li><a href="#">Garv Bhargava</a></li>
          <li><a href="#">Puja Baldawa</a></li>
          <li><a href="#">Mustafa Khan</a></li>
          <li><a href="#">Ashraf</a></li>
          <li><a href="#">Adiya Bhakru</a></li>
          <li><a href="#">Mridul Sharma</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Resource Team</h3>
        <ul>
          <li><a href="#">Hardik Karwal</a></li>
          <li><a href="#">Hari OM</a></li>
          <li><a href="#">Milind</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Poster Team</h3>
        <ul>
          <li><a href="#">Yash Pratap</a></li>
          <li><a href="#">Ria</a></li>
          <li><a href="#">Karthik</a></li>
          <li><a href="#">Jay</a></li>
          <li><a href="#">Moksh Ajmera</a></li>
          <li><a href="#">Kshitij</a></li>
          <li><a href="#">Kivika</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>